* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container {
    width: 1368px;
}

.header {
    width: 1296px;
    margin: 31px 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.left-wrapper {
    display: flex;
    flex-direction: row;
    gap: 44px;
}

.logo {
    color: #000;
    font-family: Quicksand;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 38.4px */
    letter-spacing: 0.64px;
}


/* Button and menu */
.header-btn {
    gap: 8px;
}

#classic {
    background-color: #0F8277;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid #0F8277;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #EEE;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
}

.header-btn::after {
    content: url(/images/other/Frame.svg);
}

.header-btn-menu {
    position: relative;
}

.menu {
    position: absolute;
    display: none;
    z-index: 1;
    padding: 16px 12px 33px 12px;
    width: 360px;
    background: #FFF;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.25);
}

.menu-wrapper {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 24px;
}

.menu-list-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
}

.menu-line {
    margin-top: 0;
}

.menu-line::after {
    content: "";
    border-bottom: 1px solid #000;
    margin-top: 40px;
}

.menu-text {
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 19.2px */
}

.header-btn-menu:hover .menu {
    display: block;
}


.header-search {
    width: 330px;
    border: 1px solid #5C5C5C;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.search {
    width: 330px;
    padding-left: 12px;
    border-radius: 4px;
    border: none;
    outline: none;
}


/* Right part of header */
.right-wrapper {
    display: flex;
    align-items: center;
    gap: 104px;
}

.nav-menu {
    display: flex;
    gap: 48px;
}

.nav-menu-style {
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 19.2px */
}



.button-log-reg {
    display: flex;
    gap: 16px;
    align-items: center;
}

.button-login {
    padding: 10px 12px;
    border-radius: 4px;
    background-color: #FFF;
    border: none;

    color: #0F8277;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 19.2px */
}

.button-reg {
    padding: 10px 12px;
    border-radius: 4px;
    background-color: #0F8277;
    border: none;

    color: #EEE;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 19.2px */
}


/* Main */
main {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 1296px;
}

.pre-header {
    position: relative;
    margin: auto;
    width: 1296px;
    height: 602px;
    border-radius: 12px;
    background: #DBF3ED;
}

.pre-header-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 512px;
    padding: 170px 0 0 110px;

}

.pre-header-text-title {
    color: #000;
    font-family: Quicksand;
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 67.2px */
}

.pre-header-text-par {
    color: #000;
    font-family: Quicksand;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    /* 26.4px */
}

.pre-header-button {
    display: flex;
    gap: 24px;
}

.pre-header-learn {
    background-color: #DBF3ED;
    border-radius: 4px;
    border: 2px solid #0F8277;
    padding: 10px 12px;

    color: #0F8277;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 19.2px */
}

.pre-header-photo {
    position: absolute;
    right: 50px;
    top: 39px;
}





.program {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.program-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.subtitle {
    color: #0F8277;
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 24px */
}

.title {
    color: #000;
    font-family: Quicksand;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 48px */
}

.description {
    color: #000;
    font-family: Quicksand;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 24px */
}

.main-card-program {
    display: grid;
    grid-template-columns: repeat(3, 416px);
    gap: 24px;
}

.card-program {
    border-radius: 8px;
    border: 1px solid #DADADA;

}

.photo-card-program {
    width: 415px;
    height: 270px;

    border-radius: 8px 8px 0 0;
}

.text-card-program {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.company-card-program {
    display: flex;
    gap: 12px;
}

.company-name-card-program {
    color: #000;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 19.2px */
}

.education-card-program {
    width: 384px;
    height: 162px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title-education-card-program {
    color: #000;
    font-family: Quicksand;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    /* 28.8px */
}

.diploma-education-card-program {
    display: flex;
    align-items: center;
    gap: 12px;


    color: #0F8277;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    /* 19.2px */
}


.main-card-program-other {
    display: grid;
    grid-template-columns: repeat(4, 306px);
    gap: 24px;
}

.photo-card-program-o {
    width: 305px;
    height: 270px;
    border-radius: 8px 8px 0 0;
}

.morecourse {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}


.feature-topics-category {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.feature-topics-list-category {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.partners {
    width: 1368px;
    background-color: #DBF3ED;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 80px 36px;
    gap: 60px;
}

.title-partners {
    width: 871px;
    text-align: center;
}

.partners-photo {
    width: 1296px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.solution {
    margin: 80px 36px 70px 36px;
    display: flex;
    gap: 72px;
    align-items: center;
}

.solution-text {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.solution-photo {
    display: grid;
    grid-template-columns: repeat(3, 196px);
    grid-template-rows: repeat(3, 136px);
}

.solution-photo-style {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.solution-photo-style:nth-child(1) {
    border-right: 1px solid #BABABA;
    border-bottom: 1px solid #BABABA;
}

.solution-photo-style:nth-child(2) {
    border-bottom: 1px solid #BABABA;
}

.solution-photo-style:nth-child(3) {
    border-bottom: 1px solid #BABABA;
    border-left: 1px solid #BABABA;
}

.solution-photo-style:nth-child(4) {
    border-right: 1px solid #BABABA;
}

.solution-photo-style:nth-child(5) {
    border: 0px solid #BABABA;
}

.solution-photo-style:nth-child(6) {
    border-left: 1px solid #BABABA;
}

.solution-photo-style:nth-child(7) {
    border-top: 1px solid #BABABA;
    border-right: 1px solid #BABABA;
}

.solution-photo-style:nth-child(8) {
    border-top: 1px solid #BABABA;
}

.solution-photo-style:nth-child(9) {
    border-top: 1px solid #BABABA;
    border-left: 1px solid #BABABA;
}



.choose-plan {
    width: 1368px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 80px 36px 100px 36px;
    background: #DBF3ED;
    align-items: center;
}

.choose-plan-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.choose-plan-cards-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 56px;
    border-radius: 24px;
    border: 1px solid #0F8277;
    background: #FDFDFD;
    height: 698px;
}

.price-card {
    margin-top: 27px;
    margin-bottom: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.price-card-other {
    margin: 27px 0;
}

.choose-plan-cards-style-line {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.choose-plan-cards-style-line::after {
    margin: 48px 0;
    display: block;
    content: "";
    width: 304px;
    height: 2px;
    border-radius: 80px;
    background-color: #0F8277;
}

.line-other::after {
    background-color: #FFFFFF;
}

.checkbox-main {
    position: relative;
    width: 264px;
}

.checkbox {
    display: none;
}

.checkbox-style::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-image: url(/images/other/bullit.svg);
    background-repeat: no-repeat;
    opacity: 0;
    position: absolute;
    top: 0;
    z-index: 1;
}

.checkbox-style-other::after {
    background-image: url(/images/other/bullit-other.svg);
}

.checkbox:checked+.checkbox-style::after {
    opacity: 1;
}

.students {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 1296px;
    align-items: center;
}

.photo-students {
    display: grid;
    grid-template-columns: repeat(4, 306px);
    grid-template-rows: repeat(3, 210.5px);
    gap: 23.5px;
}

.photo-students-style {
    width: 306px;
    height: 210.5px;
}

.photo-students-style-other {
    width: 636px;
    height: 445px;
}

.photo-students-style:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}



.contact {    
    background: rgba(0, 0, 0, 0.60);
    background-image: linear-gradient(rgba(0, 0, 0, 0.60),rgba(0, 0, 0, 0.60)) , url(/images/other/background-img.png);
    background-size: cover;
    width: 1368px;
    height: 727px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-style {
    width: 565px;
    height: 614px;
    padding: 30px;
    border-radius: 24px;
    background-color: #DBF3ED;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.contact-label{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact-text-style{
    width: 481px;
    padding: 12px;
    border-radius: 4px;
border: 1px solid #0F8277;
background: #FDFDFD;
}

footer{
    padding: 63px 36px;
    display: flex;
    justify-content: space-between;
}
.left-footer{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 306px;
}

.right-footer{
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 306px; 
}
.social-wrapper{
    display: flex;
    justify-content: end;
    gap: 24px;
}
.social-media{
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
}
.social-media:nth-child(1){
    background-image: url(/images/social-media/instagram.svg);
}
.social-media:nth-child(2){
    background-image: url(/images/social-media/facebook.svg);
}.social-media:nth-child(3)
{
    background-image: url(/images/social-media/linkedin.svg);
}